<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>{{ sklep.nazwa }} - {{ sklep.slogan }}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<meta name="author" content="Sofamade, Ltd." />
	<meta name="copyright" content="Sofamade, Ltd." />
	{{ sklep.head }}
	<!-- Visit http://vogue.sofamade.com for alternate color schemes -->
	<link rel="stylesheet" href="/assets/stylesheet.css" type="text/css" media="screen" />

</head>

<body>

<div id="header">
	<div class="container">
		<div id="logo">
			<h1><a href="/" title="{{ sklep.nazwa }}">{{ sklep.nazwa }}</a></h1>
		</div>
		<div id="navigation">
			<ul id="navigate">
				<li><a href="#">O Nas</a></li>
				<li><a href="/">Produkty</a></li>
				<li><a href="#">Koszyk</a></li>
			</ul>
		</div>
	</div>
</div>

<div id="mini-header">
	<div class="container">
		<div id="shopping-cart">
			<a href="/cart">Koszyk jest pusty</a>
		</div>
		<div id="search-box">
			<form action="/search" method="get">
				<input type="text" name="q" id="q" />
				<input type="image" src="/assets/seek.png" value="Seek" id="seek" onclick="this.parentNode.submit(); return false;" />
			</form>
		</div>
	</div>
</div>

<div id="layout">
	<div class="container">
		<div id="layout-left">
			<h1>
				Nasze produkty
				{% if kategoria %}
				 dla kategorii "{{ kategoria.nazwa }}"
				{% endif %}
				{% if producent %}
				 dla producenta "{{ producent.nazwa }}"
				{% endif %}
			</h1>
			<p>
				<small>
					<a href="/produkty/">Produkty</a> &#x2192; 
					{% if kategoria %}
					 <b>{{ kategoria.nazwa }}</b>
					{% endif %}
					{% if producent %}
					 <b>{{ producent.nazwa }}</b>
					{% endif %}
				</small>
			</p>
			{% if produkty == empty %}
				<p>Brak produktów</p>
			{% endif %}
			{% for produkt in produkty %}
				<div style="float:left; margin: 5px">
					<div class="gallery-image">
						<a href="{{ produkt | url_for_produkt }}" title="{{ produkt.nazwa }}"><img src="{{ produkt | img_url: 'medium' }}" alt="{{ produkt.nazwa }}" /></a>
					</div>
					<div class="clear"></div>
					<div class="gallery-info">
						<a href="{{ produkt | url_for_produkt }}">{{ produkt.nazwa }}</a><br />
						<small>od 400 zł</small>
					</div>
				</div>
			{% endfor %}
			<div class="clear"></div>
		</div>
		
		{{ 'sidebar' | snippet }}

	</div>
</div>

<div id="footer">
	<div id="footer-fader">
		<div class="container">
			<div id="footer-right">
				<a href="#">Mama</a>
				<a href="#">Mama</a>
				<a href="#">Mama</a>
			</div>
			<span id="footer-left">
				Copyright &copy; {{ "now" | date: "%Y" }} <a href="/">{{ sklep.nazwa }}</a>. All Rights Reserved.<br />
				Designed by <a href="http://sofamade.com">Sofamade</a>.
			</span>
		</div>
	</div>
</div>

</body>
</html>